- if (!viewText) viewText = '&nbsp;&nbsp;&nbsp;&nbsp;';
- if( tagType == 'pre')
  pre.viewText!= viewText
- else if( tagType == 'h1')
  h1.viewText!= viewText
- else if( tagType == 'h2')
  h2.viewText!= viewText
- else if( tagType == 'h3')
  h3.viewText!= viewText
- else if( tagType == 'h4')
  h4.viewText!= viewText
- else if( tagType == 'h5')
  h5.viewText!= viewText
- else if( tagType == 'h6')
  h6.viewText!= viewText
- else 
  p.viewText!= viewText    
